todos_fixmes:
  image: alpine
  script:
    - apk add ripgrep curl
    - todo_count="$(rg -g '!.gitlab-ci.yml' TODO . | wc -l)"
    - fixme_count="$(rg -g '!.gitlab-ci.yml' FIXME . | wc -l)"
    - curl "https://shields.io/badge/TODOs-$todo_count-blue" > todos.svg
    - curl "https://shields.io/badge/FIXMEs-$fixme_count-red" > fixmes.svg
  artifacts:
    paths:
      - todos.svg
      - fixmes.svg
    expire_in: 1 week
ansible_test_integration:
  image: registry.rc.umass.edu:5050/unity/ansible-collections/general
  script: |
    set -eo pipefail
    trap 's=$?; echo "$0: Error on line "$LINENO": $BASH_COMMAND"; exit $s' ERR
    old_path="$PWD"
    tmpdir="$(mktemp -d)"
    trap "rm -rf '$tmpdir'" EXIT
    mkdir -p "$tmpdir/ansible_collections/unity"
    mv "$old_path" "$tmpdir/ansible_collections/unity/general"
    cd "$tmpdir/ansible_collections/unity/general"
    ansible-galaxy collection install ansible.posix community.general
    failed_targets=()
    for target_path in tests/integration/targets/*; do
        target="$(basename "$target_path")"
        if [ "$target" == "callback" ]; then
            continue
        fi
        # https://docs.gitlab.com/ci/jobs/job_logs/#custom-collapsible-sections
        echo -e "\e[0Ksection_start:`date +%s`:$target[collapsed=true]\r\e[0Kansible-test integration $target"
        ansible-test integration --color --diff "$target" || failed_targets+=("$target")
        echo -e "\e[0Ksection_end:`date +%s`:$target\r\e[0K"
    done
    if [ ${#failed_targets[@]} -gt 0 ]; then
        printf 'targets failed: '
        printf -v joined '%s,' "${failed_targets[@]}"
        exit 1
    fi
documentation:
  image: registry.rc.umass.edu:5050/unity/ansible-collections/general
  script: |
    set -eo pipefail
    trap 's=$?; echo "$0: Error on line "$LINENO": $BASH_COMMAND"; exit $s' ERR
    old_path="$PWD"
    tmpdir="$(mktemp -d)"
    script="$(mktemp)"
    trap "rm -rf '$tmpdir' '$script'" EXIT
    mkdir -p "$tmpdir/collections/ansible_collections/unity"
    mv "$old_path" "$tmpdir/collections/ansible_collections/unity/general"
    cd "$tmpdir"
    export ANSIBLE_COLLECTIONS_PATH="$tmpdir/collections"
    ansible-doc --metadata-dump unity.general | jq '.all | with_entries(select(.key != "keyword" and (.value | keys | length) > 0) | .value |= keys)' | jq -r 'to_entries[] | .key as $type | .value[] | . as $plugin | "PAGER=cat ansible-doc -t \($type) \($plugin)"' | tee "$script"
    set -x
    . "$script"
build-ci-container:
  when: manual
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - docker info
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - apk add git
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
    CONTAINER_IMAGE: $CI_REGISTRY_IMAGE
  script:
    - docker context create builder
    - docker buildx create builder --use
    - docker buildx build --platform linux/amd64
      --build-arg BUILDKIT_INLINE_CACHE=1 --pull
      --cache-from $CONTAINER_IMAGE
      -t $CONTAINER_IMAGE
      -f .gitlab-ci-Dockerfile --load .
    - docker push $CONTAINER_IMAGE
