- name: apt update && apt install shibboleth-sp-utils
  ansible.builtin.apt:
    name: shibboleth-sp-utils
    state: "{{ unity_pkg_state }}"
  notify: systemctl restart shibd

- name: systemctl enable shibd
  ansible.builtin.systemd_service:
    name: shibd
    enabled: true

- name: provision
  ansible.builtin.import_tasks: provision.yml
  when: _provision

- name: ensure /etc/shibboleth exists
  ansible.builtin.file:
    path: /etc/shibboleth
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: install attribute-map.xml
  unity.copy_multi_diff.copy:
    src: attribute-map.xml
    dest: /etc/shibboleth/attribute-map.xml
    owner: root
    group: root
    mode: "0644"
  notify: systemctl restart shibd

- name: install shibboleth2.xml
  unity.template_multi_diff.template:
    src: "{{ 'rt-shibboleth2.xml.j2' if inventory_hostname == 'rt' else 'shibboleth2.xml.j2' }}"
    dest: /etc/shibboleth/shibboleth2.xml
    owner: root
    group: root
    mode: "0644"
  notify: systemctl restart shibd

- name: install metadata
  unity.template_multi_diff.template:
    src: files/shibboleth/filtered-incommon-metadata.xml.j2
    dest: /etc/shibboleth/filtered-incommon-metadata.xml
    owner: root
    group: root
    mode: "0644"
  notify: systemctl restart shibd
  tags: metadata

- name: install ms-metadata.xml
  unity.template_multi_diff.template:
    src: ms-metadata.xml.j2
    dest: /etc/shibboleth/ms-metadata.xml
    owner: root
    group: root
    mode: "0644"
  notify: systemctl restart shibd
  tags: metadata

- name: setup supervisor
  ansible.builtin.import_tasks: supervisor.yml
  when: (shib_enable_supervisor | bool) is true
