- name: apt install shibboleth
  ansible.builtin.apt:
    name: shibboleth-sp-utils
    state: present
  notify: systemctl restart shibd

- name: apt install
  ansible.builtin.apt:
    name:
      - python3-xmlsec
      - python3-lxml
    state: present

- name: systemctl enable shibd
  ansible.builtin.systemd_service:
    name: shibd
    enabled: true

- name: provision
  ansible.builtin.import_tasks: provision.yml
  when: _provision

- name: ensure /etc/shibboleth exists
  ansible.builtin.file:
    path: /etc/shibboleth
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: install attribute-map.xml
  unity.copy_multi_diff.copy:
    src: attribute-map.xml
    dest: /etc/shibboleth/attribute-map.xml
    owner: root
    group: root
    mode: "0644"
  notify: systemctl restart shibd

- name: install attribute-policy.xml
  unity.copy_multi_diff.copy:
    src: attribute-policy.xml
    dest: /etc/shibboleth/attribute-policy.xml
    owner: root
    group: root
    mode: "0644"
  notify: systemctl restart shibd

- name: install shibboleth2.xml
  unity.template_multi_diff.template:
    src: "{{ 'rt-shibboleth2.xml.j2' if inventory_hostname == 'rt' else 'shibboleth2.xml.j2' }}"
    dest: /etc/shibboleth/shibboleth2.xml
    owner: root
    group: root
    mode: "0644"
  notify: systemctl restart shibd

- name: install sanity-check.bash
  unity.copy_multi_diff.copy:
    src: sanity-check.bash
    dest: /etc/shibboleth/sanity-check.bash
    owner: root
    group: root
    mode: "0644"

- name: install filter-incommon-metadata.py
  unity.template_multi_diff.template:
    src: filter-incommon-metadata.py.j2
    dest: /etc/shibboleth/filter-incommon-metadata.py
    owner: root
    group: root
    mode: "0644"
  notify:
    - update metadata
    - systemctl restart shibd

- name: install update-filtered-incommon-metadata.bash
  unity.copy_multi_diff.copy:
    src: update-filtered-incommon-metadata.bash
    dest: /etc/shibboleth/update-filtered-incommon-metadata.bash
    owner: root
    group: root
    mode: "0644"
  notify:
    - update metadata
    - systemctl restart shibd

- name: create filtered-incommon-metadata.xml if it doesn't already exist
  ansible.builtin.shell:
    cmd: /bin/python3 /etc/shibboleth/filter-incommon-metadata.py > /etc/shibboleth/filtered-incommon-metadata.xml
    creates: /etc/shibboleth/filtered-incommon-metadata.xml

- name: cron job update-filtered-incommon-metadata.bash
  ansible.builtin.cron:
    name: update-filtered-incommon-metadata
    cron_file: update-filtered-incommon-metadata
    user: root
    minute: 0
    hour: 0
    job: chronic bash /etc/shibboleth/update-filtered-incommon-metadata.bash

- name: setup supervisor
  ansible.builtin.import_tasks: supervisor.yml
  when: (shib_enable_supervisor | bool) is true

- name: sanity check
  ansible.builtin.command: bash /etc/shibboleth/sanity-check.bash
  changed_when: false
