- name: install SP cert
  unity.template_multi_diff.template:
    src: sp-cert.pem.j2
    dest: "{{ shib_cert_dest_path }}"
    owner: _shibd
    group: root
    mode: "0600"
  notify: systemctl restart shibd

- name: install SP key
  unity.template_multi_diff.template:
    src: sp-key.pem.j2
    dest: "{{ shib_key_dest_path }}"
    owner: _shibd
    group: root
    mode: "0600"
  notify: systemctl restart shibd
