# Setup common for running an IdP or a Hub (for SP4)

# Enable our "comprehensive" module
--module=shibboleth

# Route access logging through standard SLF4J logging API
etc/jetty-requestlog.xml

# Do not expose contexts to web.
jetty.server.default.showContexts=false

# Override default URI compliance to allow fragments
jetty.httpConfig.redirectUriCompliance=DEFAULT,FRAGMENT

# Suppress node name in JSESSIONID values
# This assumes a non-clustered Jetty deploy
jetty.sessionIdManager.workerName=

jetty.http.host=127.0.0.1
jetty.http.port=8080

jetty.proxy.forwarded=true
