- name: systemctl restart shibd
  ansible.builtin.shell: shibd -t && systemctl restart shibd
  changed_when: true

- name: systemctl reload supervisor
  ansible.builtin.systemd:
    name: supervisor
    state: reloaded
