"""
This script is used to download the latest metadata from InCommon and
filter it based on the various entities we use for Unity.
"""

import sys
import json
import urllib.error
import urllib.request
import urllib.parse
from io import BytesIO
import xml.etree.ElementTree as ET  # filtering logic doesn't work with lxml

from lxml import etree as lxml_etree  # xmlsec requires lxml
import xmlsec

ENTITIES_DESCRIPTOR_ELEMENT = "<EntitiesDescriptor></EntitiesDescriptor>\n"
INCOMMON_METADATA_URL = "https://mdq.incommon.org/entities"
INCOMMON_METADATA_CERT_URL = "https://mdq.incommon.org/certs/inc-md-cert-mdq.pem"
ENTITY_INCLUDE_LIST = json.loads("""{{ shib_allowed_entities | sort | to_json }}""")

def verify_incommon_metadata(metadata_file: BytesIO) -> None:
    # https://xmlsec.readthedocs.io/en/stable/examples.html#verify
    template = lxml_etree.parse(metadata_file).getroot()
    xmlsec.tree.add_ids(template, ["ID"])
    signature_node = xmlsec.tree.find_node(template, xmlsec.constants.NodeSignature)
    assert signature_node is not None
    ctx = xmlsec.SignatureContext()
    with urllib.request.urlopen(INCOMMON_METADATA_CERT_URL) as fp:
        key = xmlsec.Key.from_file(fp, xmlsec.constants.KeyDataFormatCertPem)
        ctx.key = key
        ctx.verify(signature_node)


def build_xml(entities: list[BytesIO]):
    idp_records = []
    namespace_keys = []
    for entity in entities:
        for event, element in ET.iterparse(entity, events=("end", "start-ns")):
            if event == "start-ns":
                # Prevent weird clobbering issue
                if element[0] not in namespace_keys:
                    namespace_keys.append(element[0])
                    ET.register_namespace(*element)
            elif event == "end":
                if "EntityDescriptor" in element.tag:
                    idp_records.append(element)
    subtree = ET.ElementTree(element=ET.fromstring(ENTITIES_DESCRIPTOR_ELEMENT))
    subtree.getroot().extend(idp_records)
    return subtree

if __name__ == "__main__":
    entity_docs = []
    for entity in ENTITY_INCLUDE_LIST:
        urlenc_entity = urllib.parse.quote(entity, safe='')
        with urllib.request.urlopen(f"{INCOMMON_METADATA_URL}/{urlenc_entity}") as inc_md_download:
            xml_doc = inc_md_download.read()
            inc_md_data_stream = BytesIO(xml_doc)
            verify_incommon_metadata(inc_md_data_stream)
            entity_docs.append(inc_md_data_stream)
    subtree = build_xml(entity_docs)
    print("\n".join([
        "<?xml version='1.0' encoding='UTF-8'?>",
        "<!--",
        "Do not edit this file!",
        "This file is generated with `filter-incommon-metadata.py`",
        "-->"
    ]))
    sys.stdout.flush()
    subtree.write(sys.stdout.buffer, encoding="UTF-8", xml_declaration=False, method="xml")
    print("")
