{{ ansible_managed | comment('xml') }}
<SPConfig
    xmlns="urn:mace:shibboleth:3.0:native:sp:config"
    xmlns:conf="urn:mace:shibboleth:3.0:native:sp:config"
    xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
    clockSkew="180"
>
    <OutOfProcess tranLogFormat="%u|%s|%IDP|%i|%ac|%t|%attr|%n|%b|%E|%S|%SS|%L|%UA|%a" />
    <ApplicationDefaults
        entityID="{{ shib_entityid }}"
        REMOTE_USER="eppn subject-id pairwise-id persistent-id"
        cipherSuites="DEFAULT:!EXP:!LOW:!aNULL:!eNULL:!DES:!IDEA:!SEED:!RC4:!3DES:!kRSA:!SSLv2:!SSLv3:!TLSv1:!TLSv1.1"
    >
        <Sessions
            lifetime="28800"
            timeout="28800"
            relayState="ss:mem"
            checkAddress="false"
            handlerSSL="true"
            cookieProps="https"
            consistentAddress="false"
            redirectLimit="exact"
        >
            <SSO discoveryProtocol="SAMLDS" discoveryURL="{{ shib_discovery_url }}">SAML2</SSO>
            <Logout>SAML2 Local</Logout>
            <LogoutInitiator type="Admin" Location="/Logout/Admin" acl="127.0.0.1 ::1" />
            <Handler type="MetadataGenerator" Location="/Metadata" signing="false" />
            <Handler type="Status" Location="/Status" acl="127.0.0.1 ::1" />
            <Handler type="Session" Location="/Session" showAttributeValues="false" />
            <Handler type="DiscoveryFeed" Location="/DiscoFeed" />
        </Sessions>
        <Errors supportContact="{{ web_webmaster }}" helpLocation="/about.html" styleSheet="/shibboleth-sp/main.css" />
        <MetadataProvider type="XML" validate="true" path="filtered-incommon-metadata.xml" />
        {% for key, ms_auth in unity_institutions.azure.items() %}
        <MetadataProvider type="XML" url="https://login.microsoftonline.com/{{ ms_auth.tenant }}/federationmetadata/2007-06/federationmetadata.xml" backingFilePath="{{ key }}.xml.bck">
            <MetadataFilter type="UIInfo">
                <mdui:UIInfo xmlns:mdui="urn:oasis:names:tc:SAML:metadata:ui">
                    <mdui:DisplayName xml:lang="en">{{ ms_auth.name }}</mdui:DisplayName>
                    <!-- Placeholder for logo -->
                    <mdui:Logo height="83" width="83" xml:lang="en">https://{{ key }}/placeholder.svg</mdui:Logo>
                </mdui:UIInfo>
                <Entity>{{ ms_auth.entityID }}</Entity>
            </MetadataFilter>
        </MetadataProvider>
        {% endfor %}
        <AttributeExtractor type="XML" validate="true" reloadChanges="false" path="attribute-map.xml" />
        <AttributeFilter type="XML" validate="true" path="attribute-policy.xml" />
        <CredentialResolver type="File" key="{{ shib_key_dest_path }}" certificate="{{ shib_cert_dest_path }}" />
    </ApplicationDefaults>
    <SecurityPolicyProvider type="XML" validate="true" path="security-policy.xml" />
    <ProtocolProvider type="XML" validate="true" reloadChanges="false" path="protocols.xml" />
</SPConfig>
