- name: install git
  ansible.builtin.apt:
    name:
      - git

- name: make sure install prefix is a directory
  ansible.builtin.file:
    path: "{{ discovery_service_install_prefix }}"
    state: directory

- name: git pull discovery service # noqa: latest[git]
  ansible.builtin.git:
    repo: https://github.com/UMass-RC/unity-discovery-service.git
    dest: "{{ discovery_service_install_prefix }}"
    depth: 1 # shallow clone

# before the noble upgrade, this wasn't necessary, and I don't know why. see proxmox VM ood-head-old-20.04
- name: reminder to configure apache
  ansible.builtin.debug:
    msg: |
      the discovery service is installed, but you will have to configure apache to allow access to it.
      example:
      <Directory "{{ discovery_service_install_prefix }}">
          Require all granted
      </Directory>
